[submodule "modules/remote-public-module"]
	path = modules/remote-public-module
	url = https://github.com/jhomola79/submodule-public.git
[submodule "modules/remote-private-module"]
	path = modules/remote-private-module
	url = https://jhomola79:558b208dae8785f4ec4625467f89e0fa477fa7f0@github.com/jhomola79/submodule-private.git
